/*html {
    background-color: #e6e9e9;
}*/

/* BODY */
body {
    margin: 0 auto;
    padding: 2em 2em 3.5em;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #F3F3F3;   /* small seasons color */
    /*background-color: #ffffff;*/ /* pure white */
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);*/
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-container {
    text-align: center;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}
h2 {
    margin-top: 1.3em;
}

/* LINKS */
a {
  color: #2a7ae2;   /* nice blue */
  text-decoration: none;
}
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #000040; }

b, strong {
    font-weight: 600;
}
